<!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="UTF-8">
          <title>출퇴근관리</title>
          <!-- <link rel="stylesheet" href="D:/personal_study/py_Program/p7_Attendance_server/login/templates/style.css"> -->
          <link rel="stylesheet" href="style.css">
      </head>
      <body>
          <form action="/submit" method="POST">
              <p>
                <input type="text" id="company_num_id" name="company_num" placeholder="사번">
                <input type="password" id="password_id" name="password" placeholder="비밀번호">
              </p>
              <p><label for="time">현재 시간:</label></p>
              <p>
                <input type="text" id="day" name="checkday" readonly>
                <input type="text" id="time" name="checktime" readonly>
              </p>
              <p>
                <input type="submit" id="workon" name="work" value="출근">
                <input type="submit" id="gotohome" name="leave" value="퇴근">
              </p>
              <p>
                <input type="submit" id="calculate" name="yearoff" value="남은연차계산">
              </p>

              <p>
                <label for="time">비밀번호변경을 위해서는 상단의 사원번호와 비밀번호를 입력한 후 진행해야 합니다.</label><br>
                <label for="time">변경할 비밀번호:</label><br>
                <input type="password" id="change_pw_id" name="change_pw" placeholder="변경할 비밀번호"><br>
                <input type="password" id="change_pw_confirm_id" name="change_pw_confirm" placeholder="변경할 비밀번호 확인"><br>
                <input type="submit" id="ch_password_id" name="ch_password" value="비밀번호변경">
              </p>
              
          </form>
          
          <script>
            function updateTime() {
                const now = new Date();
                const nowday = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();
                const nowday_fix = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();
                const nowtime = now.getHours() + ':' + now.getMinutes();
                document.getElementById('day').value = nowday;
                document.getElementById('time').value = nowtime;
                document.getElementById('calculate-day').value = nowday_fix;
            }
            setInterval(updateTime, 1000);
          </script>
          <!-- 아래 스크립트는 위에 form태그에서 id=calculate인 남은연차계산 버튼을 클릭하면 이벤트수신으로 click
          을 수신하여 form태그의 action 값을 '/result'로 변경하여 수행하게 한다.
          즉, 하나의 페이지에서 여러개의 파이썬 함수로 값을 보낼 수 있다.-->
          <script>
            const form = document.querySelector('form');

            const ch_password_Button = document.querySelector('#ch_password_id');
            ch_password_Button.addEventListener('click', () => {
              form.action = '/password_ch';
            });

            const yearoffButton = document.querySelector('#calculate');
            yearoffButton.addEventListener('click', () => {
              form.action = '/result';
            });

            const workonButton = document.querySelector('#workon');
            workonButton.addEventListener('click', () => {
              form.action = '/submit';
            });

            const leaveButton = document.querySelector('#gotohome');
            leaveButton.addEventListener('click', () => {
              form.action = '/submit';
            });

          </script>
          

      </body>
  </html>